@font-face {
    font-family: "title_fa";
    src: url("font/header/title_fa_monofont.ttf");
}

@font-face {
    font-family: "text_fa";
    src: url("font/text/text_fa.ttf");
}

:root {
    --pg_width: 850px;
}

body {
    display: block;
    background-color: rgb(45, 45, 45);
    margin: auto;
    overflow: hidden;
}

/*  
--- HEADER ---
*/

#header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 45px rgb(0, 0, 0);
}

#header #group {
    width: var(--pg_width);
    margin: auto;
}

#header #home {
    font-family: "title_fa";
    font-size: 40px;
    text-decoration: none;
    color: rgb(240, 240, 240);
    transition: color 0.5s;
}

#header #home:hover {
    color: rgb(255, 145, 0);
    transition: color 0.5s;
}

#header #links {
    margin-top: 5px;
    top: 0px;
    transition: top .25s; 
    float: right;
}

#header #links .entry {
    display: inline-block;
    margin-left: 2px;
    opacity: 0.5;
    transition: opacity 0.5s;
}

#header #links .entry:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

#header #links .selected_entry {
    display: inline-block;
    margin-left: 2px;
    opacity: 1.0;
}

#header #links .selected_entry .tooltip {
    position: absolute;
    visibility: hidden;
}

#header #links .entry a {
    position: relative;
    top: 0px;
    transition: top .25s;
}

#header #links .entry:hover a {
    top: -5px;
    transition: top .25s;
}

/* TOOLTIPS */
#header #links .entry .tooltip {
    font-family: "text_fa";
    background-color: rgb(0, 0, 0);
    color: rgb(240, 240, 240);
    width: 150px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    visibility: hidden;

    position: absolute;
    margin-left: -60px;
    margin-top: 5px;
    
    opacity: 0;
}

#header #links .entry:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity .25s;
}

/*
--- PAGE ---
*/

.page {
    width: var(--pg_width);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    border-radius: 0px;
    background-color: black;
    box-shadow: 0px 0px 45px rgb(20, 20, 20, 1);
}

.page li {
    font-family: "text_fa";
    font-size: 16px;
}

.page a {
    font-family: "text_fa";
    text-decoration: none;
    color: rgb(170, 100, 0);
    transition: color 0.5s;
}

.page a:hover {
    color: rgb(255, 145, 0);
    transition: color 0.5s;
}

.page h1 {
    font-family: "text_fa";
    text-decoration: none;
    font-size: 22px;
    color: rgb(240, 240, 240);
}

.page p {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "text_fa";
    text-decoration: none;
    font-size: 18px;
    color: rgb(200, 200, 200);
}

.page hr {
    border-color: rgb(60, 60, 60);
}

/*
--- FOOTER ---
*/
