@font-face {
    font-family: "title_fa";
    src: url("font/header/title_fa_monofont.ttf");
}

@font-face {
    font-family: "text_fa";
    src: url("font/text/text_fa.ttf");
}

:root {
    --hdr_width: 975px;
    --pg_width: 850px;
}

body {
    display: block;
    background-color: rgb(30, 30, 30);
    margin: auto;
    overflow-y: scroll;
}

/*  
--- HEADER ---
*/

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(80, 65, 80);
    box-shadow: 5px 5px 5px 5px rgb(45, 45, 45);
}

.header_group {
    width: var(--hdr_width);
    margin: auto;
}

#header_group_title {
    font-family: "title_fa";
    font-style: bold;
    font-size: 40px;
    margin: 0px;
    color: rgb(240, 240, 240);
}

.header_group_links {
    margin-top: 5px;
    float: right;
}

.header_group_links_entry {
    display: inline-block;
    opacity: 0.5;
    transition: opacity 0.5s;
    margin-left: 2px;
}

.header_group_links_entry:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

/* TOOLTIPS */
.header_group_links_entry .header_group_links_entry_tooltip {
    font-family: "text_fa";
    background-color: #000;
    color: #fff;
    width: auto;
    height: auto;
    text-align: center;
    padding: 5px;
    visibility: hidden;

    position: absolute;
    margin-top: 5px;

    opacity: 0;
    transition: opacity 0.5s;
}

.header_group_links_entry:hover .header_group_links_entry_tooltip {
    visibility: visible;
    opacity: 1;
}

/*
--- PAGE ---
*/

.link {
    text-decoration: none;
    color: rgb(220, 150, 150);
    transition: color 0.5s;
}

.link:hover {
    color: rgb(150, 150, 220);
    transition: color 0.5s;
}

.page {
    width: var(--pg_width);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.page h1 {
    font-family: "text_fa";
    text-decoration: none;
    font-size: 28px;
    color: rgb(185, 185, 240);
}

.page p {
    font-family: "text_fa";
    text-decoration: none;
    font-size: 18px;
    color: rgb(210, 210, 210);
}

/*
--- FOOTER ---
*/