@font-face {
    font-family: "mono";
    font-style: italic;
    src: url("font/roboto/mono-variable-italic.ttf");
}

@font-face {
    font-family: "mono";
    src: url("font/roboto/mono-variable.ttf");
}

@font-face {
    font-family: "sans";
    font-weight: bold;
    font-style: italic;
    src: url("font/roboto/sans-bold-italic.ttf");
}

@font-face {
    font-family: "sans";
    font-weight: bold;
    src: url("font/roboto/sans-bold.ttf");
}

@font-face {
    font-family: "sans";
    font-style: italic;
    src: url("font/roboto/sans-italic.ttf");
}

@font-face {
    font-family: "sans";
    font-weight: normal;
    src: url("font/roboto/sans-regular.ttf");
}

@font-face {
    font-family: "serif";
    src: url("font/roboto/serif-variable.ttf");
}


:root {
    --primary: rgb(255, 255, 255);
    --secondary: rgb(64, 64, 64);
}

* {
    margin: 0% 0%;
}

body {
    padding: 0% 25%;
    background-color: var(--primary);
    
    font-family: "serif";
    font-weight: normal;
    font-size: 12pt;
}

/* --- TEXT --------------------------------------------------------- */
h1 {
    font-size: 16pt;
}

h2 {
    font-size: 14pt;
}

h3 {
    font-size: 12pt;
}

h4 {
    font-size: 11pt;
}

h5 {
    font-size: 10pt;
}

h6 {
    font-size: 9pt;
}

/* --- ANCHOR ------------------------------------------------------- */
a {
    text-decoration: none;
    color: var(--accent-1-dark);
}


a:visited {
    text-decoration: none;
    color: var(--accent-2-dark);
}

a:hover {
    text-decoration: underline;
}

/* --- HORIZONTAL LINE ---------------------------------------------- */
hr {
    margin: 4pt 0pt;
    border-width: 1pt;
    border-color: rgb(0, 0, 0, 0.33);
}

/* --- HEADER ------------------------------------------------------- */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

header .icon .title {
    font-weight: bold;
    font-size: 24pt;
}

header .links .link {
    margin-left: 12pt;
}

/* --- FOOTER ------------------------------------------------------- */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}