:root {
    box-sizing: border-box;
}

/* DEVICE AGNOSTIC */
header {
    margin: 5vh 0vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

header.align-center {
	align-items: center;
}

header .title {
    margin: 0;
}

header .icon-anchor {
    border-style: dashed;
    border-color: inherit;
    border-width: 0 0 1px 0;
}

header .icon-anchor:hover {
    border-style: solid;
}

/* MOBILE */
@media (max-width: 980px) {
	header .title-area {
		margin-right: 5vw;
	}

    header .title {
        font-size: 7vw;
    }

    header .sub-title {
        font-size: 4vw;
    }

    header .icon-anchor {
		padding: 1vw 0vw;
    }

    header .icon {
        width: 10vw;
    }
}

/* DESKTOP */
@media (min-width: 981px) {
	header .title-area{
		margin-right: 10mm;
	}

    header .title {
        font-size: 28pt;
    }

    header .sub-title {
        font-size: 20pt;
    }

    header .icon-anchor {
        padding: 2.5mm 0.0mm;
    }

    header .icon {
        width: 15mm;
    }
}
