:root {
	box-sizing: border-box;
}

header {
	margin: 5vh 0vw;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

header.align-center {
	align-items: center;
}

header .title-area {
	margin-right: 1em;
}

header .title {
	font-size: 20pt;
	margin: 0;
}

header .icon {
	padding: 0.5em 0.0em;
	width: 28pt;
	max-width: 28pt;
	border-style: dashed;
	border-color: inherit;
	border-width: 0 0 1px 0;
}

header .icon:hover {
	border-style: solid;
}
