@font-face {
    font-family: "foundation-icons";
    src: url("foundation-icons/foundation-icons.woff");
    font-weight: normal;
    font-size: normal;
}

:root {
    --black: rgb(40, 40, 40);
    --white: rgb(240, 240, 240);
    --light: rgb(160, 160, 160);
    --tint: rgba(0, 0, 0, 0.2);
    --max-width: 50rem;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: var(--black);
    background-color: var(--white);
}

/* HEADER */

header {
    position: relative;
    margin: 0 auto;
    max-width: var(--max-width);
}

header .site-image {
    position: relative;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1pt;
}

header .site-title {
    position: absolute;
    top: 1rem;
    left: 5rem;
    font-size: 2rem;
    margin: auto;
}

header nav {
    position: absolute;
    top: 0;
    right: 0;
}

/* MAIN */

main {
    position: relative;
    margin: 0 auto;
    max-width: var(--max-width);
    font-family: serif;
    font-size: 14pt;
    line-height: 1.5em;
}

/* FOOTER */

footer .container {
    position: relative;
    margin: 0 auto;
    max-width: var(--max-width);
    border-top: 1px solid var(--black);
}

footer .copyright {
    margin: 0.5rem 0;
    color: var(--light);
    font-size: 10pt;
    font-weight: normal;
    text-align: center;
}